*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(214, 214, 214);
}

header nav {
    flex-grow: 1;
    position: static;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

header nav li {
    flex-grow: 1;
    min-width: 6em;
}

header nav a {
    color: white;
    text-decoration: none;
    outline: none;
    display: block;
    line-height: 3.5em;
    text-align: center;
}

header nav a.active {
    font-weight: bold;
    cursor: default;
}

header nav a:hover:not(.active) {
    color: lightgray;
    background-color: gray;
}

header nav a:focus {
    text-decoration: underline;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/********/
/* MAIN */
/********/



main h1 {
    font-size: 4em;
    font-family: montserrat;
    font-weight: 700;
}

@keyframes title-animation {
    0% {
        transform: scale(1);
        color: black;
    }

    50% {
        transform: scale(1.1);
        color: gray;
    }

    100% {
        transform: scale(1);
        color: black;
    }
}

main h1:hover {
    animation-name: title-animation;
    animation-duration: 5s;
    transform-origin: left bottom;

}

main h2 {
    position: relative;
    margin-top: -2em;
}

.naam-blokje {
    text-align: justify;
    display: inline-block;
}

.naam-blokje h1 {
    margin-bottom: 1em;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: auto;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.profielfoto img {
    width: 70%;
    display: inline-block;
}

/********/
/* About sectie */
/********/


.about {
    display: flex;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: auto;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.about h2 {
    position: relative;
    font-size: 3em;
}

.about p {
    position: relative;
    text-align: center;
    max-width: 50em;
    margin: 4em;
}

/********/
/* MAIN PROJECTEN */
/********/

main ul {
    list-style: none;
    margin: 0;
    padding: 0 2em 2em;
}

main li {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

/*** projecten ***/

.projecten h2 {
    align-items: center;
    position: relative;
    top: 1em;
    margin-bottom: 1.5em;
    font-size: 3em;
    text-align: center;
}

.projecten {
    background-color: rgb(214, 214, 214);
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:
        "img-1 img-2 img-3"
        "img-4 img-5 img-6";

}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i {
    color: rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: .6rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
    opacity: 1;
}

.img-1 {
    grid-area: img-1;
    background-image: url("/images/streamorb.jpg");

}

.img-2 {
    grid-area: img-2;
    background-image: url("/images/sunsnap.jpg");

}

.img-3 {
    grid-area: img-3;
    background-image: url("/images/oba.jpg");

}

.img-4 {
    grid-area: img-4;
    background-image: url("/images/dancerally.jpg");

}

.img-5 {
    grid-area: img-5;
    background-image: url("/images/msd.jpg");

}

.img-6 {
    grid-area: img-6;
    background-image: url("/images/plog.jpg");

}

/* Contact */

.contact {
    position: relative;
    top: 5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: auto;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.contact h2 {
    position: relative;
    top: -1em;
    font-size: 3em;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form input {
    background-color: #f2f2f2;
    border-radius: 4px;
    
}

.contact form p {
    margin: 0;
}


.flex-outer li button {
 margin-top: 1em;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

/* Footer */

footer {
    background-color: black;
    padding: .5em;
    margin-top: 5em;
    width: 100%;
}

.footer-naam {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
}

.footer-copyright {
    text-align: center;
    color: white;
    font-weight: 100;

}


/* Media Queries */


@media screen and (max-width: 1000px) {
    .image-gallery {
        grid-template-areas:
            "img-1 img-1 img-1"
            "img-2 img-2 img-2"
            "img-3 img-3 img-3"
            "img-4 img-4 img-4"
            "img-5 img-5 img-5"
            "img-6 img-6 img-6"
    }

    @media screen and (max-width: 400px) {
        .intro {
            width: 80%;
            text-align: center;
        }

        @media screen and (max-width: 400px) {

            .intro h1,
            .intro h2,
            .intro p {
                text-align: center;
                display: block;
            }




            .profielfoto {
                bottom: 10%;
            }
        }
